@import 'tailwindcss';
@plugin "daisyui";

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* 强制光标样式覆盖 */
.cursor-crosshair-force,
.cursor-crosshair-force canvas {
  cursor: crosshair !important;
}

.cursor-text-force,
.cursor-text-force canvas {
  cursor: text !important;
}

.cursor-grab-force,
.cursor-grab-force canvas {
  cursor: grab !important;
}
